# ======================
# Dependencies
# ======================
node_modules/

# ======================
# Environment variables
# ======================
.env
.env.*
!.env.example

# ======================
# Prisma
# ======================
generated/prisma/

# ======================
# Build outputs
# ======================
dist/

# ======================
# Logs
# ======================
logs/
*.log

# ======================
# OS / Editor
# ======================
.DS_Store
Thumbs.db
.vscode/
.idea/